 
<div class="login--wrapper d-flex align-items-center justify-content-center  h-100">
    <div class="row w-100 d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-5 col-lg-4 card">
            <div class="row">
                <div class="col-12">
                    <div class="card-header">
                        <h4 class="fw-bold border-bottom pb-3">Sign In</h4>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="card-body px-4">
                            <div class="col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username">
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" type="password">
                                    <mat-icon matSuffix>key</mat-icon>
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-checkbox class="">Remember Me</mat-checkbox>
                            </div>
                            <div class="col-12 my-4">
                                <button mat-flat-button class="w-100">Login</button>
                            </div>
                            <div class="col-12 text-center">
                                <p class="text-white">Don't have an account?
                                   <a href="#" class="fw-500"> Sign Up </a> <br>
                                   <a href="#" class="fw-500"> Forgot your password? </a>
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>